h1 {
    color:green;
}

h2 {
    
}

nav,header,footer{
display:block;
}

body{
    line-height: 1;
    margin: 0;
}

.container{
    width: 100%;
    margin: auto;
    
    padding-top: 4%;
    padding-bottom : 4%
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

nav{
    width: 100%;
    margin:  0;   
}

.row::after {
    display: table;
    clear: both;
    content: "";
}
nav ul {
    background-color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: right
}

ul.topnav li.topnav-right{
    float: right;
}


ul.topnav li a{
    display: block;
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    padding: 16px;
}

ul.topnav li a:hover{
    background-color: greenyellow;
}

ul.topnav li.dropdownIcon{
    display: none;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%; }
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

#section-1-gradient {
    background: #00cc00;
    background: linear-gradient( #00cc00 0%, #00ff00 100%);
}

div.box{
    background-color: #fff;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.24),
    0 2px 3px 0 rgba(0,0,0,.1)     ;
    
}
div.codIcon img{
    display:block;
    margin: auto;
    box-shadow: -2px -2px 5px 2px rgba(0,0,0,.15),
        0px 2px 3px 0 rgba(0,0,0,.1);
}
button{
    font-size: 28px;
    color: #fff;
    background-color: #0069ff;
    padding: 15px 60px;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
}
button.learnMore{
    display: block;
    margin: auto;
   
}

div.icon{
    width: 100%;
    margin-left: 20%;
    }

label.label1{
    font-size: 30px;
    margin-left: 20%;
    line-height: 90px;
}
p{
    font-size: 21px;
    margin-left: 12%;
}

article p{
    font-size: 25px;
    padding: 15px;
    margin-left: 10%;
}

div.leftSide-col{
    margin-left: 20%;
    
}

div.rightSide-col{
    margin-left: 15%;
}
h1.large{
    font-size: 40px;
    margin: 0;
    line-height: 70px;

}

h1.section2Header{
    color:black;
    text-align: center;
}

form h2 {
    color: #fff;
    
}
input[type="text"] {
    font-size: 20px;
    width: 400px;
    min-width: 50px;
    padding: 5px;
    border-radius: 7px;
    
}
input[type="password"] {
    font-size: 20px;
    width: 400px;
    min-width: 50px;
    padding: 5px;
    border-radius: 7px;
}
footer.footsy{
    background-color: #666;
    padding-left: 10%
}
footer.footsy h1{
    color: #fff;
    margin-left: 7%;
}
footer.footsy ul{
    list-style: none;
    
}
footer.footsy ul li{
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
}

@media screen and (max-width: 680px) {
    ul.topnav.li:not(nth-child(1)){
        display: none;
    }
    ul.topnav li.dropdownIcon{
        display: block;
        
    }
    ul.topnav.responsive{
        position: relative;
    }
    ul.topnav.responsive.li{
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
    }
    
    article p{
        font-size: 22px;
        
    }
    .col-6, .col-4, .col-7,.col-5{
        width: 100%;
        margin: 0;
        
        }
    div.mobileStack{
        width: 50%;
        display: block;
    }
    
    div.box{
    padding: 5px;
   display: block;     
    
    }
    
    
    
    div.codIcon img{
        width: 100%''
    }
    div.leftSide-col,div.rightSide-col{
        margin: 15px;
    }
    input[type="text"]{
        width: 350px;
    }
    input[type="password"]{
        width: 350px;
    }
    .videoContainer iframe{
        position: relative;
        width: 100%;
    }
}